# Pyrlang Term library
git+git://github.com/Pyrlang/Term@master#egg=term

# Gevent-only requirements, can remove if not using Gevent
gevent==1.2.1
greenlet==0.4.12

# Documentation requirements
Jinja2==2.9.6
MarkupSafe==1.0
Pillow==4.0.0
Pygments==2.2.0
Sphinx==1.6.2

# Log coloring for tests (not used in library logging)
ansicolors==1.1.8
